.menu-button-style {
    background-image: url('project://database/Assets/56763.png?fileID=2800000&guid=fdaaf238924505645884f4584538d388&type=3#56763');
    background-color: rgba(255, 255, 255, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    height: 21px;
    width: 20px;
    margin-right: 5px;
}

.menu-button-style:hover {
    background-image: url('project://database/Assets/56763.png?fileID=2800000&guid=fdaaf238924505645884f4584538d388&type=3#56763');
    background-color: rgba(255, 255, 255, 0);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    height: 21px;
    width: 20px;
}

.menu-button-style:active {
    background-image: url('project://database/Assets/56763.png?fileID=2800000&guid=fdaaf238924505645884f4584538d388&type=3#56763');
    background-color: rgb(161, 161, 161);
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    height: 21px;
    width: 20px;
}

.menu-option-button-style {
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 23px;
    margin-bottom: 23px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 22px;
}

.unity-toggle {
}

.unity-text-element {
}
